TWITCH_TOKEN=oauth:xxxxxxxxxxxxxxxxxxxx
TWITCH_CLIENT_ID=your_twitch_app_client_id
TWITCH_NICK=your_bot_username
TWITCH_CHANNEL=your_channel_name
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.2:3b
OLLAMA_TIMEOUT_SECONDS=120
CHAT_RESPONSE_COOLDOWN_SECONDS=20
STREAMLABS_TTS_URL=https://streamlabs.com/polly/speak
STREAMLABS_VOICE=Joanna
STREAMLABS_TTS_TIMEOUT_SECONDS=30
STREAMELEMENTS_TTS_URL=
STREAMELEMENTS_VOICE=Joanna
USE_WEB_TTS=false
LOCAL_TTS_VOICE=en-US-GuyNeural
LOCAL_TTS_RATE=+20%
LOCAL_TTS_PITCH=+10Hz
OFFTOPIC_MIN_SECONDS=60
OFFTOPIC_MAX_SECONDS=720
MIC_AMBIENT_ADJUST_SECONDS=2.0
MIC_LISTEN_TIMEOUT_SECONDS=3.0
MIC_PHRASE_TIME_LIMIT_SECONDS=12.0
MEMORY_DIR=memory
MEMORY_EXCLUDED_USER=
MEMORY_MAX_LINES=0
CONVERSATION_RECENT_LINES=80
BOT_PREFIX=!
